<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    {% include 'djangoapp/top_menu.html'%}
    <!-- Add reviews as cards -->
    <div class="container">
        <div class="row">
        <h3>Reviews for {{dealer_name}}</h3>
        </div>
        <div class="row">
        {% if review_list is not None%}
        <div class="card-columns">
            {% for item in review_list %}
            <div class="card">
                <img class="card-img-left" src="{{MEDIA_URL}}/emoji/{{ item.sentiment }}.png" width="35" height="35"
                alt="sentiment image">

                <div class="card-body">
                    
                    <h5 class="card-title">{{ item.car_model }}, {{ item.car_make }}</h5>
                    <h5 class="card-title">{{ item.car_year }}</h5>
                  <p class="card-text">{{ item.review}}</p>
                </div>
              </div>
            {% endfor %}
        </div>
    {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div class="row">
            <a href="{% url 'djangoapp:add_review' dealer_id %}">
            <input class="btn btn-primary"  type="botton" 
                    value="Add Review"></a>
            
        </div>
        {% endif %}
    </div>
    </body>

</html>